# Core functionality - changes here should be rare!
/src/app.py                   @2zhn
/src/backend/database.py      @2zhn
/src/backend/routers/auth.py  @2zhn

# The frontend will need refactored soon to be more object oriented.
/src/static/   @2zhn
